<%- include('partials/header') %>
<h2>System przetargowy</h2>
<p>Platforma do zarządzania przetargami dla każdej instytucji.</p>
<p>Możliwe do kliknięcia są tylko teksty w jednym z odcieni niebieskiego.</p>
<%- include('partials/footer') %>