<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System przetargowy</title>
    <link rel="stylesheet" href="/abstract_public_dir/css/style.css" />    
  </head>
  <body>
    <div id="app-container">
      <nav>
        <a href="/">Strona główna</a>
        <a href="/tenders">Lista przetargów</a>
        <a href="/tenders/ended">Lista zakończonych przetargów</a>
        <a href="/tenders/add">Dodaj przetarg</a>
      </nav>
      <div id="main-content">